*.pyc
.idea
*.log
__pycache__/
venv-old/
wishlist/wishlist/__pycache__/
wishlist/travel_wishlist/__pycache__/
wishlist/db.sqlite3
wishlist/travel_wishlist/migrations/
wishlist/media/
wishlist/user_images/
wishlist/cloud_sql_proxy
wishlist/travcred.json
wishlist/venv
